* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #ecb807;
  height: 100vh;
  width: 100%;
}
header .container .header-container nav {
  position: relative;
}
header .container .header-container nav .bar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: rgba(52, 58, 64, 0.5);
  line-height: 50px;
}
header .container .header-container nav .bar i {
  font-size: 16px;
}
header .container .header-container .header-content {
  padding: 250px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: #212529;
}
header .container .header-container .header-content h1 {
  font-size: 70px;
}
header .container .header-container .header-content p {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}
header .container .header-container .header-content .header-btn {
  background-color: #1D809F;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#about {
  height: 50vh;
  width: 100%;
}
#about .container .about-container {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#about .container .about-container h4 {
  font-size: 32px;
}
#about .container .about-container p {
  font-weight: 300;
}
#about .container .about-container p a {
  color: #1D809F;
  text-decoration: underline;
}
#about .container .about-container button {
  background-color: #212529;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#services {
  height: 65vh;
  width: 100%;
  background-color: #1D809F;
}
#services .container .services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
}
#services .container .services-container h5 {
  text-transform: uppercase;
  color: #ecb807;
}
#services .container .services-container h2 {
  color: white;
  font-size: 36px;
  line-height: 1.2;
}
#services .container .services-container .card-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin-top: 70px;
}
#services .container .services-container .card-box .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#services .container .services-container .card-box .card .icon-box {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#services .container .services-container .card-box .card .icon-box i {
  font-size: 30px;
  color: #1D809F;
}
#services .container .services-container .card-box .card .card-title h5 {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}
#services .container .services-container .card-box .card .card-text p {
  color: rgba(255, 255, 255, 0.7);
  font-style: 15px;
}

#callout {
  width: 100%;
  height: 90vh;
  background-image: url(../../img/bg-callout.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
#callout .container .call-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#callout .container .call-container h2 {
  font-size: 40px;
  width: 350px;
  text-align: center;
}
#callout .container .call-container button {
  background-color: #1D809F;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */